<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://stokedapi620161110014743.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stokedapi620161110014743.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StokedAPI620161110014743</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StokedAPI620161110014743</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StokedAPI6Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|StokedAPI6Context-20161110153607.mdf;Initial Catalog=StokedAPI6Context-20161110153607;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StokedAPI6Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=StokedAPI6Context-20161110153607; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|StokedAPI6Context-20161110153607.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:stokedapi620161110014743dbserver.database.windows.net,1433;Initial Catalog=StokedAPI620161110014743_db;User ID=dbadmin@stokedapi620161110014743dbserver;Password=getSTOKED2016" Name="Data Source=tcp:stokedapi620161110014743dbserver.database.windows.net,1433;Initial Catalog=StokedAPI620161110014743_db;User Id=dbadmin@stokedapi620161110014743dbserver;Password=getSTOKED2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StokedAPI6.Models.ApplicationDbContext, StokedAPI6" MigrationConfiguration="StokedAPI6.Migrations.Configuration, StokedAPI6" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stokedapi620161110014743dbserver.database.windows.net,1433;Initial Catalog=StokedAPI620161110014743_db;User Id=dbadmin@stokedapi620161110014743dbserver;Password=getSTOKED2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>