@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2 Suomisvej, 3rd floor<br />
    1927 Frederiksberg C, Copenhagen Denmark<br />
    
</address>

<address>
    <strong>Emil Møller Nielsen:</strong>   <a href="mailto:emil678e@stud.kea.dk">emil678e@stud.kea.dk</a><br />
    <strong>Thomas Gross Rasmussen:</strong> <a href="mailto:thom987c@stud.kea.dk">thom987c@stud.kea.dk</a><br />
    <strong>Michael Lindberg:</strong> <a href="mailto:kontaktdsrf@gmail.com">kontaktdsrf@gmail.com</a>
</address>